@charset 'UTF-8';

:root {
    --cor1: #2b2d42 ;
    --cor2: #8d99ae ;
    --cor3: #edf2f4 ;
    --cor4: #ef233c ;
    --cor5: #d90429 ;
    --cor6: #ffc300;
    --cor7: #ffd60a;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor3);
}


main > header > nav > a#home {
    color: black;
    text-decoration: none;
}

main > header > nav > fieldset {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    /* display: flex; */
    justify-content: center;
    display: inline-block;
}

main > header > nav > fieldset > a {
    text-decoration: none;
    padding-left: 10px;
    color: black;
}